body {
  max-height: 100vh;
  margin: 0;
  /* background-color: gold; */
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* navs container */
#nav-bar {
  width: 100vw;
  background-color: black;
  position: relative;
}

/* for menu icon use for toggling */
.nav-menu {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: white;
}

/* nav ul */
.nav-lists {
  display: none;
  flex-direction: column;
  padding-left: 1.5rem;
}
/* toggler */
.collapse .nav-lists {
  display: flex;
  margin-bottom: 0;
}
/* toggler to change the background of the menu */
.collapse .nav-menu {
  opacity: 0.5;
}

/* media queries for tablet*/
@media screen and (min-width: 768px) {
  #nav-bar {
    width: 100vw;
    height: auto;
    bottom: 32px;
  }

  .nav-menu {
    display: none;
  }

  .nav-lists {
    flex-direction: row;
    display: flex;
    margin-bottom: 0;
    justify-content: flex-end;
    margin: 2rem;
    padding: 2rem;
  }
  .nav-items {
    margin-right: 3rem;
  }

  .container-text h1 {
    font-size: 3rem;
  }

  .container-text p {
    font-size: 2.5rem;
  }
}

/*  for desktop */
@media screen and (min-width: 1024px) {
  body {
    max-height: 100vh;
  }
  #nav-bar {
    width: 100%;
    height: auto;
  }

  .nav-menu {
    display: none;
  }

  .nav-lists {
    flex-direction: row;
    display: flex;
    margin-bottom: 0;
    justify-content: flex-end;
    margin: 2rem;
    padding: 2rem;
  }
  .nav-items {
    margin-right: 3rem;
  }

  .footer {
    bottom: 4rem;
  }

  .homepage-container {
    bottom: 4rem;
  }

  .container-text h1 {
    font-size: 4rem;
  }
  .container-text p {
    font-size: 2rem;
  }
}

/* nav ul list */
.nav-items {
  list-style-type: none;
  margin: 0.9rem, 0;
  border-bottom: 1px solid black;
}

/* nav links */
.nav-items a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 2rem;
  padding: 5px;
}
/* for hovering on nav links */
.nav-items a:hover,
:focus {
  background-color: white;
  border-radius: 10px;
  transition-duration: 0.5s;
  color: black;
}

/* home page background image container */
.homepage-container {
  position: relative;
  margin-top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("priscilla-du-preez-ggeZ9oyI-PE-unsplash\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

/* text on the home page displaying welcome to mhc */
.container-text {
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

/* for the h1 tag */
.container-text h1 {
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.container-text p {
  font-weight: 700;
  text-transform: uppercase;
}

/* for footer  */
.footer {
  width: 100vw;

  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  background-color: black;
  position: relative;
  align-items: center;
}

/* footer social media icons */
.footer-icon img {
  width: 2rem;
  margin-left: 2rem;
}

/* an ul containing the lists items */
.footer-content {
  display: flex;
  color: white;
}

/* list the links are placed in */
.footer-content li {
  opacity: 0.9;
  list-style-type: none;
  margin-left: 1rem;
}
/* for links in lists */
li a {
  color: white;
}

/* image gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 8px;
  width: 100%;
  /* margin-top: 0; */
  padding-top: 5px;
  position: relative;
}

/* for styling  images in container */
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* for tablets gallery */
@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    bottom: 4rem;
  }

  .footer {
    bottom: 3.9rem;
  }
}
/* for desktop gallery */
@media screen and (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    bottom: 4rem;
  }
  .footer {
    /* padding-bottom: 2rem; */
    bottom: 4rem;
  }

  .gallery img:nth-of-type(2) {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
}
